@charset "UTF-8";
/* colors de fisiología */
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,300;0,400;1,400&display=swap"); /* Fisiologia */
html {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}
html body {
  background-color: black;
  text-decoration: none;
  background-image: url(../Logoparalapag/fondopesa.png);
  /* The end header*/
  /* the end article */
  /* the end section */
  /* the end section */
  /* the end section */
}
html body header {
  /*The end nav*/
}
html body header nav .flexbox_nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
html body header nav ul {
  position: relative;
}
html body header nav ul li {
  padding: 10px;
  display: inline-block;
  font-size: 25px;
}
html body header nav ul li a {
  text-decoration: none;
  color: rgb(239, 239, 239);
  font-family: "Anton", sans-serif;
}
html body article {
  text-align: center;
  text-decoration: none;
}
html body article h2 {
  color: rgb(125, 4, 4);
  font-weight: bolder;
  text-decoration: none;
}
html body section {
  /* the end article */
  /* the end article */
}
html body section article {
  text-align: center;
  text-decoration: none;
}
html body section article h3 {
  color: rgb(125, 4, 4);
  font-weight: bolder;
  text-decoration: none;
}
html body section article {
  text-align: center;
  text-decoration: none;
  /* the end ol */
}
html body section article ol {
  list-style-type: none;
}
html body section article ol li a {
  color: rgb(239, 239, 239);
}
html body section {
  /* the end article */
  /* the end article */
}
html body section article {
  text-align: center;
  text-decoration: none;
}
html body section article h3 {
  color: rgb(125, 4, 4);
  font-weight: bolder;
}
html body section article {
  text-align: center;
  text-decoration: none;
  /* the end ol */
}
html body section article ol {
  list-style-type: none;
}
html body section article ol li a {
  color: rgb(239, 239, 239);
  text-decoration: none;
}
html body section article h4 {
  color: rgb(125, 4, 4);
  font-weight: bolder;
}
html body section article p {
  color: rgb(239, 239, 239);
}
html footer .footer {
  display: inline;
}
html footer .flexbox_footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
html footer section h2 .footer_secciones1 {
  display: inline;
  color: rgb(239, 239, 239);
  font-size: 18px;
  font-family: "Anton", sans-serif;
}
html footer section .footer_secciones2 {
  display: inline;
  color: rgb(239, 239, 239);
  font-size: 18px;
  font-family: "Anton", sans-serif;
}
html footer section a img {
  width: 50px;
  height: auto;
  margin: 0px 10px;
}

/* Contacto */
body {
  color: black;
  /* The end header*/
  /* The end main*/
}
body header {
  /*The end nav*/
}
body header nav .flexbox_nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
body header nav ul {
  position: relative;
}
body header nav ul li {
  padding: 10px;
  display: inline-block;
  font-size: 25px;
}
body header nav ul li a {
  text-decoration: none;
  color: rgb(239, 239, 239);
  font-family: "Anton", sans-serif;
}
body main {
  /* The end article*/
}
body main article {
  line-height: 2.5rem;
  text-align: center;
}
body main article section h1 {
  color: rgb(125, 4, 4);
}
body main article section h2 {
  color: rgb(125, 4, 4);
}
body main article section h3 {
  color: rgb(125, 4, 4);
}
body main article {
  line-height: 2.5rem;
  text-align: center;
}
body main article section form fieldset {
  color: rgb(239, 239, 239);
}
body footer .footer {
  display: inline;
}
body footer .flexbox_footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
body footer section h2 .footer_secciones1 {
  display: inline;
  color: rgb(239, 239, 239);
  font-size: 18px;
  font-family: "Anton", sans-serif;
}
body footer section .footer_secciones2 {
  display: inline;
  color: rgb(239, 239, 239);
  font-size: 18px;
  font-family: "Anton", sans-serif;
}
body footer section a img {
  width: 50px;
  height: auto;
  margin: 0px 10px;
}

/*nosotros*/
body {
  /* The end header*/
}
body header {
  /*The end nav*/
}
body header nav .flexbox_nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
body header nav ul {
  position: relative;
}
body header nav ul li {
  padding: 10px;
  display: inline-block;
  font-size: 25px;
}
body header nav ul li a {
  text-decoration: none;
  color: rgb(239, 239, 239);
  font-family: "Anton", sans-serif;
}
body section article p {
  line-height: 1.5rem;
  text-align: center;
  width: 70%;
  height: auto;
  display: inline-block;
  color: rgb(239, 239, 239);
  margin: 0% 15%;
}
body footer .footer {
  display: inline;
}
body footer .flexbox_footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
body footer section .footer_secciones1 {
  display: inline;
  color: rgb(239, 239, 239);
  font-size: 18px;
  font-family: "Anton", sans-serif;
}
body footer section .footer_secciones2 {
  display: inline;
  color: rgb(239, 239, 239);
  font-size: 18px;
  font-family: "Anton", sans-serif;
}
body footer section a img {
  width: 50px;
  height: auto;
  margin: 0px 10px;
}

/* Ejercicio */
body {
  color: black;
  /* The end header*/
}
body header {
  /*The end nav*/
}
body header nav .flexbox_nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
body header nav ul {
  position: relative;
}
body header nav ul li {
  padding: 10px;
  display: inline-block;
  font-size: 25px;
}
body header nav ul li a {
  text-decoration: none;
  color: rgb(239, 239, 239);
  font-family: "Anton", sans-serif;
}
body main {
  /*The end div*/
}
body main section article ul {
  text-decoration: none;
  list-style: none;
  text-align: center;
  font-weight: bold;
}
body main div figure {
  display: inline;
}
body main div figure img {
  width: 400px;
  height: 400px;
}
body main section {
  color: rgb(239, 239, 239);
}
body footer .footer {
  display: inline;
}
body footer .flexbox_footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
body footer section h2 .footer_secciones1 {
  display: inline;
  color: rgb(239, 239, 239);
  font-size: 18px;
  font-family: "Anton", sans-serif;
}
body footer section .footer_secciones2 {
  display: inline;
  color: rgb(239, 239, 239);
  font-size: 18px;
  font-family: "Anton", sans-serif;
}
body footer section a img {
  width: 50px;
  height: auto;
  margin: 0px 10px;
}

/*The end body*/
body {
  /* The end header*/
}
body header {
  /*The end nav*/
}
body header nav .flexbox_nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
body header nav ul {
  position: relative;
}
body header nav ul li {
  padding: 10px;
  display: inline-block;
  font-size: 25px;
}
body header nav ul li a {
  text-decoration: none;
  color: rgb(239, 239, 239);
  font-family: "Anton", sans-serif;
}
body footer .footer {
  display: inline;
}
body footer .flexbox_footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
body footer section h2 .footer_secciones1 {
  display: inline;
  color: rgb(239, 239, 239);
  font-size: 18px;
  font-family: "Anton", sans-serif;
}
body footer section .footer_secciones2 {
  display: inline;
  color: rgb(239, 239, 239);
  font-size: 18px;
  font-family: "Anton", sans-serif;
}
body footer section a img {
  width: 50px;
  height: auto;
  margin: 0px 10px;
}

/*# sourceMappingURL=main.css.map */
