

/*HTML INDEX*/



.imagenes__section{
       display: inline;
      
       }  


.flexbox_article0{
display: flex;

}

.flexbox_article1 {
display: block;

}


.flexbox_imgs {
display: flex;

}


/* Mediaqueries Mobile */
@media screen and (min-width:370px){
.body{

grid-template-columns:25% 25% 25% 25%;
grid-template-rows: 79px 270px 280px 1055px 1250px 100px;
grid-template-areas: 
"nav nav nav nav"
"header header header header"
"main main main main"
"div1 div1 div1 div1"
"div2 div2 div2 div2"
"footer footer footer footer";
}


.body{
background-color: black;
}

.index__listas {
       text-decoration: none;
       list-style: none;
       font-family: 'Anton', sans-serif; 
       position: relative;
       margin: 0px 20px;
       font-size: 25px;
       left: 5%;
       }
       


/* Posicion del logo IVANFIT */
.Position__nav__img{

}

/* Posicion de las listas*/
.listas_posicion_index {
       display: none;
 
} 

/* Imagen general INDEX*/
.img_index{
       width: 100%;
}



.texto_article { 
       color:white ;
       font-size: 14px;
       line-height: 15px;
       text-align: center;
       font-weight: bolder;
       margin: 50px 10%;
       width: 80%;

     

   
}

.texto_article2{
       color: white ;
       font-size: 14px;
       line-height: 20px;
       text-align: center;
       width: 70%;
       text-align: center;
       margin: 0% 15% ;
}

.video{
       width: 90%;
       height: 400px;
       margin: 50px 5%;
}

/*imagenes*/       

.grid__imgs {
display: grid;
grid-template-columns: 150px 150px;
grid-template-rows: 100px 100px 100px;
grid-column-gap: 30px;
grid-row-gap: 20px;
grid-template-areas:
    "img1 img2"
    "img3 img4"
    "img5 img6";
margin: 0px 5%;
width: 45%;} 

.grid_imgs{
display: grid;
}

#img1{
grid-area: "img1";
}

#img2{
grid-area:"img2" ;
}

#img3{
grid-area:"img3" ;
}

#img4{
grid-area:"img4" ;
}

#img5{
grid-area: "img5";
}
#img6{
grid-area:"img6" ;
}

.imagenes__index__img{
width: 100%;
height: auto;

}

.texto_article3{
color: white ;
font-size: 14px;
line-height: 15px;
text-align: center;
margin: 50px 0px;
}

.index__listas{
       position: relative;
} 

}

/* Mediaqueries Tablet */

@media screen and (min-width:760px){
.body{
grid-template-columns: 25% 25% 25% 25% ;
grid-template-rows: 79px 270px 150px 750px 1050px 100px;
grid-template-areas: 
"nav nav nav nav"
"header header header header"
"main main main main"
"div1 div1 div1 div1"
"div2 div2 div2 div2"
"footer footer footer footer" ;
}


.grid__imgs {
display: grid;
grid-template-columns: 150px 150px;
grid-template-rows: 100px 100px 100px;
grid-column-gap: 30px;
grid-row-gap: 20px;
grid-template-areas:
    "img1 img2"
    "img3 img4"
    "img5 img6";
    margin: 5% 30%;
width: 45%;}


.grid_imgs{
display: grid;
}

#img1{
grid-area: "img1";
}

#img2{
grid-area:"img2" ;
}

#img3{
grid-area:"img3" ;
}

#img4{
grid-area:"img4" ;
}

#img5{
grid-area: "img5";
}
#img6{
grid-area:"img6" ;
}

.index__listas{
       position: relative;
}  

.texto_article {
       color: white;
       width: 100%;
       font-size: 19px;
       line-height: 23px;
       text-align: center;
       font-weight: bolder;
       margin: 3% 0px;
       }

       .video {
              width: 90%;
              margin: 3% 0%;
          }
          
          .texto_article2 {
              color: white;
              font-size: 14px;
              line-height: 20px;
              text-align: center;
              width: 70%;
              text-align: center;
              margin: 0% 15%;                

}

.imagenes__index__img {
       width: 200%;
       height: auto;
   }

}

/* Mediaqueries Desktop */

@media screen and (min-width:1024px){
.body{
      
       grid-template-columns: 25% 25% 25% 25% ;
       grid-template-rows:79px 280px 180px 450px 630px 120px; 
       grid-template-areas: 
       "nav nav nav nav"
       "header header header header"
       "main main main main"
       "div1 div1 div1 div1"
       "div2 div2 div2 div2"
       "footer footer footer footer" ;
}

.texto_article {
color: white;
width: 100%;
font-size: 19px;
line-height: 23px;
text-align: center;
font-weight: bolder;
margin: 50px 0px;
}

.flexbox_article0{
display: flex;
flex-direction: row;
justify-content: center;
color: white;
width: 100% ;
height: 100px;
}   

.flexbox_footer {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
align-items:center;
}

.texto_article2 {
color: white;
font-size: 20px;
line-height: 26px;
text-align: left;
margin: 5% 0%;
width: 50%;
}

.article_video{
width: 50%;
}

.video {
       width: 90%;
       height: 73%;
       margin: 5% 0%;
}   

.flexbox_article1 {
display: flex;
width: 100%;
height: auto;
} 


.imagenes__index__img{
padding: 10px;
margin: 0px;
width: 200%;
height: auto;

}

.grid__imgs {
display: grid;
grid-template-columns: 150px 150px;
grid-template-rows: 100px 100px 100px;
grid-column-gap: 30px;
grid-row-gap: 20px;
grid-template-areas:
"img1 img2"
"img3 img4"
"img5 img6";
margin: 5%;
width: 45%;}

.grid_imgs{
display: grid;
}

#img1{
grid-area: img1;
}

#img2{
grid-area:img2;
}

#img3{
grid-area:img3 ;
}

#img4{
grid-area:img4;
}

#img5{
grid-area:img5;
}
#img6{
grid-area:img6 ;
}

.texto_article3 {
color: white;
font-size: 19px;
line-height: 30px;
text-align: left;
margin: 5% 0px;
width: 50%;
}

.flexbox_article2 {
display: flex;
width: 100%;
height: auto;
}

}

#body{
display: grid;
}

#nav{
grid-area:nav;
}

#header{
grid-area:header;

}

#main{
grid-area:main;
}

#div1{
grid-area:div1;
}

#div2{
grid-area:div2;
}

#footer{
grid-area:footer;
}




