/* Contacto */

body{
    color:$primary_colors;
    
    header{
        nav{
            .flexbox_nav{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
         }

            ul{
                position: relative;
                
                li{
                    padding: 10px;
                    a{
                        text-decoration: none;
                        color: $third_colors;
                        font-family: $secondary_typography;
                      
                    }
                    display: inline-block;
                    font-size: 25px;
                }
            }

        } /*The end nav*/ 
    }/* The end header*/
   

    main{
        article{
            line-height: 2.5rem;
            text-align: center;

                section{
                    h1 {color:$secondary_colors};
                        
                        
                    h2 {color:$secondary_colors};
                        
                        
                    h3 {color:$secondary_colors};
                        
                    

                }

        }/* The end article*/
        article{    
            line-height: 2.5rem;
            text-align: center;
                section{
                        form{
                            fieldset{
                                    color:$third_colors;
                            }
                        }
                }
        }
    }
    /* The end main*/

   
    footer{
        .footer{
            display: inline;
        }
        .flexbox_footer{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items:center;
        }
        section{
                h2{
                    .footer_secciones1{
                            display: inline;
                            color: $third_colors;
                            font-size: 18px;
                            font-family: $secondary_typography;
                    }
                        }
                }
        section{
            
                .footer_secciones2{
                display: inline;
                color: $third_colors;
                font-size: 18px;
                font-family:$secondary_typography;
                }
            
            }
        section{
                a{
                    img{ 
                        
                            width: 50px;
                            height: auto;
                            margin: 0px 10px;
                         
                    }
                }
                }         


    }

}
