body{
    background-color: black;

        article h2{ 
        color:#FF0000;
        }    


        header nav ul{
            text-decoration: none;
            list-style: none;
            font-family: 'Anton', sans-serif;
            position: relative;

        }
    
    
      
    

    
        section article{
                        
                        h3{
                            color:#FF0000 ;
                        }
                        
                    ol li a{
                            text-decoration: none;
                            list-style: none;
                            color: white;
                            }
                        }


                            
                        
                        h4{
                            text-align: center;
                            text-decoration: none;
                            color:#FF0000 ;
                            font-weight: bolder;
                            }
                        p{
                            color: white;
                        }
                        

        article{
            text-align: center;
            text-decoration: none;
        }
    
}

