body{
    background-color: black;

    
        header nav ul{
            text-decoration: none;
            list-style: none;
            font-family: 'Anton', sans-serif;
            position: relative;

        }
    
    
        article ol li a{
            text-decoration: none;
            list-style: none;
        }
    

    
        section article{
            text-align: center;
        text-decoration: none;
        h4{
            color:#FF0000 ;
            font-weight: bolder;
        }
        p{
            color: white;
        }
        }

        article{
            text-align: center;
            text-decoration: none;
        }
    
}